In [2]:
# import libraries
import pandas as pd
df = pd.read_csv('mldata.csv')
df.head()

    age  height  weight gender likeness
0  27.0   170.0    76.0   Male  Biryani
1  41.0   165.0    70.0   Male  Biryani
2  29.0   171.0    80.0   Male  Biryani
3  27.0   173.0   102.0   Male  Biryani
4  29.0   164.0    67.0   Male  Biryani

In [3]:
df['gender'] = df['gender'].replace('Male',1)
df['gender'] = df['gender'].replace('Female',0)
df.head()

    age  height  weight  gender likeness
0  27.0   170.0    76.0       1  Biryani
1  41.0   165.0    70.0       1  Biryani
2  29.0   171.0    80.0       1  Biryani
3  27.0   173.0   102.0       1  Biryani
4  29.0   164.0    67.0       1  Biryani

In [4]:
df.tail()

      age  height  weight  gender likeness
236  27.0   165.0    63.0       1  Biryani
237  31.0   160.0    60.0       1   Pakora
238  26.0   172.0    70.0       1  Biryani
239  25.0   157.0    65.0       1  Biryani
240  33.0   157.0    56.0       0   Samosa

In [5]:
#selection of input and output veriables
X = df[['weight','gender']]
y = df['likeness']

In [6]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [7]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [8]:
#import libraries

from sklearn.tree import DecisionTreeClassifier

#create and fit our model
model = DecisionTreeClassifier().fit(X,y)

#predection
model.predict([[88,0]])

/Users/FaizanArshad/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

In [9]:
# how to measure the accuracy of thee model
# WE SPLIT THE MODEL INto diffetent split catagories
# train and test model
# 20% and 80% seperation
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test =train_test_split(X, y , test_size=0.2)

#create a model
model = DecisionTreeClassifier().fit(x_train,y_train)
predicted_values = model.predict(x_test)
predicted_values

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

In [10]:
# checking the secore
actual_values = y_test

score = accuracy_score(actual_values,predicted_values)
score

0.6122448979591837

In [11]:
# how to train and save a model
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(X,y)
joblib.dump(model, "foodie.joblib")

['foodie.joblib']

In [12]:
#how to import/run a stored or saved data into model

In [14]:
#graph
from sklearn import tree

model = DecisionTreeClassifier().fit(X,y)
tree.export_graphviz(model,
                    out_file="foodie.dot",
                    feature_names= ['age','gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)